* *::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header  */

.jumbotron {
  background: url("https://images.unsplash.com/photo-1491438590914-bc09fcaaf77a?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170")
    no-repeat center center;
  background-size: cover;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.formFrame {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  width: 80%;
  align-items: center;
}

.signupFormFrame,
.loginFormFrame {
  padding: 5em 0 0 0;
}

.signupForm input {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid black;
  margin: 1em 0 0 0;
}

.signupForm button {
  margin: 1em 0 0 0;
}

.loginForm input,
.loginForm button {
  margin: 1em 0 0 0;
}
