@import "~bootstrap";
/* @import "~@fortawesome/fontawesome-free"; */

* *::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.is-hidden {
  display: none;
}
/* Header  */
.jumbotron {
  background: url("https://images.unsplash.com/photo-1491438590914-bc09fcaaf77a?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170")
    no-repeat center center !important;
  background-size: cover !important;
}

.search {
  position: relative;
}

.dataResult {
  position: absolute;
  margin-top: 5px;
  width: 300px;
  height: 200px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0 5px 15px;
  overflow: hidden;
  overflow-y: auto;
}
.dataResult .dataItem {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
}

.dataItem p {
  margin-left: 10px;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: lightgray;
}

#clearBtn {
  cursor: pointer;
}
@media screen and (min-width: 900px) {
  .eventshow__top > * {
    flex-basis: 50%;
  }

  .eventshow__top .eventshow__content {
    padding-inline-start: 5rem;
  }
}

.eventDescription {
  white-space: pre-wrap;
}

form {
  width: 80%;
  align-items: center;
}

.signupFormFrame,
.loginFormFrame {
  padding: 5em 0 0 0;
}

.signupForm input {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid black;
  margin: 1em 0 0 0;
}

.signupForm button {
  margin: 1em 0 0 0;
}

.loginForm,
.signupForm {
  width: 20%;
}

@media only screen and (min-width: 390px) and (max-width: 1281px) {
  .loginForm,
  .signupForm {
    width: 80%;
  }
}

.loginForm input,
.loginForm button {
  margin: 1em 0 0 0;
}

.editFrame {
  display: flex;
  flex-direction: row-reverse;
}

@media only screen and (min-width: 390px) and (max-width: 1281px) {
  .editFrame {
    margin: 1em 0 0 0;
    flex-direction: column;
  }
}

.editFrame form {
  margin: 0 0 0 2em;
}

.imageFrame {
  width: 100%;
  height: 100%;

  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.imageFrame img {
  width: 50%;
  text-align: center;
}
